@media only screen and (max-width: 700px) {
    * {
width: 100%;
text-align: center;
font-weight: 700;
line-height: 1.5;
word-spacing: 1.5;
    }
  }


@media only screen and (max-width: 600px) {
    * {
width: 100%;  
  }
  }

body {
    text-align: center;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    content: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: orangered;
    height: 100px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: left;
    margin-top: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}

nav a {
    color: silver;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: navy;
}

.video {
margin-top: 50px;
border: 20px 50px 40px;
max-height: max-content;
height: 470px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orangered;
}

.vision {
    font-size: 40px;
    font-weight: 100px;
    line-height: 1.2;
}

.heading {
    color: navy;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100px;
    text-shadow: 40px;
    text-align: center;
    font-stretch: expanded;
}

.branches {
    color: navy;
    line-height: 2.5;
    word-spacing: 3.2;
    padding-left: 50px;
}

.samburu {
    word-spacing: 120px;
    line-height: 110px;
    border: 5px solid red;
    overflow: scroll;
    height: `500px;
    background-color: orange;
    margin-top: 5px;
}

#support {
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 100;
}