body {
    text-align: center;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    content: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: orangered;
}
header::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}

nav a {
    color: silver;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: navy;
}

img {
    float: right;
    border-radius: 80%;
    border: 3px solid yellow;
}