
body {
    text-align: center;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    content: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    word-spacing: 40px;
}

header {
    background-color:orangered;
}
header::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}

nav a {
    color: silver;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: navy;
}

.video {
    word-spacing: 40px;
    line-height: 70px;
}

.sound {
    word-spacing: 150px;
    line-height: 90px;
    background-color: greenyellow;
    border-radius: 25%;
    border: 7px solid red;
}

audio {
    float: center;
    border-radius: 120%;
    border: 5px solid yellow;
    height: 70px;
}

