@media only screen and (max-width: 600px) {
    * {
width: 100%;
margin-top: 0;
line-height: 1.2;
text-align: center;
font-size: small;
   }
  } 


body {
    text-align: center;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    content: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #f4f4f4;
    height: 100px;
}
header::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
    margin-top: 2px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

nav a {
    color: rgb(228, 60, 60);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav a:hover {
    color: navy;
    text-decoration: underline;
    text-decoration-color: darkorchid;
    text-decoration-thickness: 5px;
}

.sound {
    line-height: 50px;
    background-color: #f4f4f4;
    border: 4px dotted darkmagenta;
    overflow: scroll;
    height: 300px;
    padding-top: 15px;
}

audio {
    float: center;
    border: 5px double rgb(190, 190, 88);
    height: 55px;
    width: 100%;
}

.heading {
    color: navy;
    text-align: center;
    text-shadow: 40px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: expanded;
}

#heading {
    color: darkorchid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: expanded;
}

#services {
    border: 4px dotted darkmagenta;
    background-color: #f4f4f4;
}

.sunday {
    color: darkslateblue;
    font-size: 20px;
    float: left;
    width: auto;
    padding: 10px;
}

.thursday {
    color: darksalmon;
    font-size: 20px;
   width: auto;
   padding: 10px;
}

.button {
    font-size: 30px;
    color: darksalmon;
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background-color: #d3d3d3;
    border-radius: 10px;
    border: 7px double darkorange;
    color: darkorchid;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    width: auto;
    transition: all 0.7s;
    cursor: pointer;
    margin: 5px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
  }
  button:hover {
    background-color: #f7c2f9;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }


.email {
    color: navy;
    text-decoration: underline;
}
