@media only screen and (max-width: 600px) {
    * {
width: 100%;
margin-top: 0;
text-align: center;
font-size: small;
line-height: 1.2;
   }
}




body {
    text-align: center;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    content: inherit;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f4f4f4;
    height: 100px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
    margin-top: 2px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

nav a {
    color: rgb(228, 60, 60);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

nav a:hover {
    color: navy;
    text-decoration: underline;
    text-decoration-color: darkorchid;
    text-decoration-thickness: 5px;
}

.heading {
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color:rgb(102, 161, 100);
    text-align: center;
    font-stretch: expanded;
}

.testimony {
    text-align: center;
    color: darkorange;
    font-size: 50px;
}
